{% for message in messages %}{% if message['role'] == 'system' %}[INST] <<SYS>>
{{ message['content'] }}
<</SYS>>
{% elif message['role'] == 'user' %}{{ message['content'] }} [/INST] {% elif message['role'] == 'assistant' %}{{ message['content'] }} </s><s>[INST] {% endif %}{% endfor %}